{% extends "base.html" %}

{% block head %}
  {{super()}}
  {# Reload every 5 minutes #}
  <meta http-equiv="refresh" content="300">
{% endblock %}

{% block title %}ArcGIS Concurrent Licenses{% endblock %}

{% block page_content %}
<div class="page-header">
  <h1>ArcGIS Concurrent Licenses</h1>
</div>
  {{timestamp}} <i>This page will reload every 5 minutes.</i>
<h3>Current license usage: </h3>

<table class="table table-condensed">
  <thead>
    <tr> <th>License</th> <th>Total</th> <th>In use</th> <th>Users</th> </tr>
  </thead>
  <tbody>
    {% for license in licenses %}
    <tr>
       <td class="c1">{{license.productname}}</td>
       <td class="c2">{{license.total}}</td>
       <td class="c3">{{license.in_use}}</td>
       <td class="c4">
         <table class="table table-condensed table-user">
         {% for user in license.users %}
           <tr>
            <td>{{user.name}}</td><td>{{user.computer}}</td><td>{{user.start}}</td>
           </tr>
        {% endfor %}
        </table>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>

<p>
<i>
  Product: {{product}}
  License server version: <b>{{arcgis_version}}</b>
</i>
</p>

{% endblock %}
